/* 

    CS2350 
    
    Module 5: Challenge Activity
    Author: Alon Saar 
    Date:   4/5/2022

    Filename: arrays.css 


*/

/* Common styles */

html {
    background-image: url(../images/loop.jpg);
    background-attachment: fixed;
    padding-left: 2em;
    padding-right: 2em;
}

body {
    width: 80%;
    margin: auto;
    margin-bottom: 0px;
    background-color: rgba(250, 243, 234, 0.9);
    font-size: 1.3em;
}

footer {
    background: radial-gradient(circle, beige, blanchedalmond, burlywood);
    width: 100%;
    text-align: center;
    margin: 0px;
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#sort {
    padding: 1.2em;
}

#sort div {
    padding-left: 2em;
    font-size: larger;
    background-color: rgb(255, 249, 234);
    border: 1px solid;
    border-radius: 10px;
    width: 80%;
}

/* list styles styles */

ul {
    padding-left: 2.8em;
}

li {
    line-height: 1.5em;
    text-transform: uppercase;
}

#allColors,
#pColors,
#nonBColors,
#filterColors {
    border: 1px solid black;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    background-color: rgb(253, 253, 244);
    width: 50%;
    border: 0.3em double rgb(99, 92, 92);
}

/* heading styles */

h1 {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: rgb(95, 94, 94) 10px 10px 10px, rgb(90, 85, 85) -10px -10px 10px;
    padding-top: 1.2em;
    margin: 0px;
}

h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-left: 3em;
    text-decoration: underline;
}

/* Table style */

#family {
    padding: 0.8em;

}

table {
    border: 1px solid black;
    background-color: rgb(155, 155, 124);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

th {
    border: 2px double rgb(94, 88, 88);
    padding: 0.4em;
    background-color: rgb(185, 185, 135);
}

td {
    border: 4px inset grey;
    padding: 0.5em;
    background-color: rgb(207, 207, 192);
}